@model IEnumerable<QuanLyGaraOto2.Models.PHIEUNHAPLINHKIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TenNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Details",new { id = item.Ma_PhieuNLK })';return false;" style="width:30px"><i class="fa fa-info" aria-hidden="true"></i></button>
            <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Edit",new { id = item.Ma_PhieuNLK })';return false;"><i class="fa fa-wrench" aria-hidden="true"></i></button>
            <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Delete",new { id = item.Ma_PhieuNLK })';return false;"><i class="fa fa-minus" aria-hidden="true"></i></button>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.Ma_PhieuNLK }) |
            @Html.ActionLink("Details", "Details", new { id = item.Ma_PhieuNLK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Ma_PhieuNLK })*@
        </td>
    </tr>
}

</table>
