@model IEnumerable<QuanLyGaraOto2.Models.XE>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<br />
<h1>Xe đang có trong xưởng</h1>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HIEUXE.TenHX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenChuXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HIEUXE.TenHX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienNo)
            </td>
            <td>
                <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Details",new { id = item.BienSo })';return false;" style="width:30px"><i class="fa fa-info" aria-hidden="true"></i></button>
                <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Edit",new { id = item.BienSo })';return false;"><i class="fa fa-wrench" aria-hidden="true"></i></button>
                <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Delete",new { id = item.BienSo })';return false;"><i class="fa fa-minus" aria-hidden="true"></i></button>

                @*@Html.ActionLink("Edit", "Edit", new { id = item.BienSo }) |
                @Html.ActionLink("Details", "Details", new { id = item.BienSo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BienSo })*@
            </td>
        </tr>
    }

</table>
