@model IEnumerable<QuanLyGaraOto2.Models.DICHVU_LINHKIEN>

@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>DichVu</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV_LK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDV_LK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaDV_LK }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaDV_LK }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaDV_LK })
        </td>
    </tr>
}

</table>
