@model IEnumerable<QuanLyGaraOto2.Models.DICHVU_LINHKIEN>

@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index3</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV_LK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDV_LK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTonKho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDV_LK }) 
        </td>
    </tr>
}

</table>
