@model IEnumerable<QuanLyGaraOto2.Models.DICHVU_LINHKIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<br />
<h1>Danh sách linh kiện</h1>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV_LK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </th>
        <th>
            Điều chỉnh
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDV_LK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTonKho)
            </td>
            <td>
                <button data-toggle="modal" data-target=".bd-example-modal-sm" onclick="location.href='@Url.Action("Edit",new { id = item.MaDV_LK })';return false;"><i class="fa fa-wrench" aria-hidden="true"></i></button>
            </td>
        </tr>
    }

</table>
