@model IEnumerable<QuanLyGaraOto2.Models.PHIEUSUACHUA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.XE.TenChuXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySuaChua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThuTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTiepNhanXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.XE.TenChuXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySuaChua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThuTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTienThu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTiepNhanXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuSC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuSC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuSC })
        </td>
    </tr>
}

</table>
